

// colors
$primary: #0a192f;
$secondary: #64ffda;

$primary-font-color: #ccd6f6;
$secondary-font-color: #8892b0;

// fonts
$roboto-mono: 'Roboto Mono', monospace;
$open-sans: 'Open Sans', sans-serif;
