@import "../../utilities/common.scss";
@import "../../utilities/helper.scss";
@import "../../utilities/mixins.scss";

.contact{
    margin: 2rem;

    .container{
        padding: 10rem;
        text-align: center;

        h1{
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $secondary;
        }

        p{
            color: $secondary-font-color;
            margin-bottom: 1rem;
        }

        address{
            margin-bottom: 2rem;
        }
    }

    // For mobile devices
        @include devices (mobile) {
            margin-top: 4rem;
            .container{
                padding: 0;
            }
        }
}