@import "../../utilities/common.scss";
@import "../../utilities/helper.scss";

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
}

.logo {
    margin-top: .5rem;

    img{
        width: 100px;
        height: 100%;
    }
}

.nav-list {
    display: flex;
    font-size: 14px;

    li {
        margin: 0rem 1rem 0 1rem;
        color: $primary-font-color;
        text-align: center;

        &:hover,
        &:focus {
            color: $secondary;
        }  
    }
}

/*RESPONSIVE NAVBAR MENU STARTS*/
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 32px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .logo {
        margin-top: 1rem;
        
        img {
            width: 75px;
            height: 100%;
        }
    }

    .nav-list {
        display: none;
        position: absolute;
        background-color: rgba($color: $primary, $alpha: 0.8);
        right: 0;
        left: 0;
        text-align: center;
        margin: 2rem 0;

        li {
            padding: 0.5rem;
        }

        li:hover {
            display: inline-block;
            color: $secondary;
            transition: 0.3s ease;
        }

    }

    input[type=checkbox]:checked~.nav-list {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

// .nav-items {
//     display: flex;
//     justify-content: space-between;

//     ul{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         li{
//             list-style: none;
//             margin: 0rem 1rem 0 1rem;
//             color: $primary-font-color;

//             &:hover,
//             &:focus {
//                 color: $secondary;
//             }  
//         }
//     }
// }