@import "../../utilities/common.scss";
@import "../../utilities/helper.scss";
@import "../../utilities/mixins.scss";

.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    margin-bottom: 1rem;

    .brand-name {
        margin-top: .5rem;
        img {
            width: 100px;
            height: 100%;
        }
    }

    .navigation-menu {
        margin-left: auto;

        ul {
            display: flex;
            padding: 0;
            font-size: 14px;

            li {
                list-style-type: none;
                margin: 0 1rem;
                color: $primary-font-color;

                &:hover,
                &:focus {
                    color: $secondary;
                }
            }

            a {
                padding-top: 1rem;
            }
        }
    }

    .hamburger {
        // removes default border on button element
        border: 0;
        height: 45px;
        width: 45px;
        // padding: 0.5rem;
        border-radius: 50%;
        background-color: $primary;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        // positions the icon to the right and center aligns it vertically
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        display: none;
    }

    .hamburger:hover {
        background-color: rgba($color: $secondary, $alpha: 0.6);
    }

    // for mobile devices
    // ############################################################

    @include devices (mobile){
        .brand-name {
            // margin: 1rem 0;
            padding-left: 1rem;
            img {
                width: 75px;
                height: 100%;
            }
        }
        .hamburger {
            display: block;
        }

        .navigation-menu {
            ul {
                display: none;
                position: absolute;
                top: 60px;
                left: 0;
                flex-direction: column;
                width: 100%;
                height: calc(100vh - 77px);
                background-color: rgba($color: $primary, $alpha: 0.8);
                border-top: 1px solid black;
            
                li {
                    text-align: center;
                    padding: 0.5rem;
                }
            }

            &.expanded {
                ul {
                    display: block;
                }
            }
           
        }
    }
}