@import "../../utilities/common.scss";
@import "../../utilities/helper.scss";
@import "../../utilities/mixins.scss";

.experiences{
    margin: 4rem;

    h1{
        margin-bottom: 0.2rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $secondary;
    }

    .card{
        padding: 1rem;

        .card-header{
            padding-bottom: 0.5rem;
            h3{
                color: $secondary;

                a{
                    color: $primary-font-color;
                }
                :hover{
                    color: $secondary;
                }
            }
            h4{
                color: $secondary-font-color;
            }
        }

        .card-body{
            ul {
                li{
                    padding-bottom: 0.5rem;
                    font-size: small;
                    color: $secondary-font-color;

                    .carret-icon{
                        color: $secondary;
                        font-size: medium;
                        margin-right: 1rem;
                    }
                }
            }
        }

        .card-footer{
            margin-top: 1rem;
            h5{
                font-size: medium;
                color: $primary-font-color;
            }
            p{
                color: $secondary-font-color;
            }
        }
    }

    // For Mobile devices
        @include devices (mobile) {
            margin: 0;
            padding-top: 2rem;

            h1{
                text-align: center;
            }
        }
}