@import './utilities/common.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $roboto-mono;
    font-weight: 200;
    color: $primary-font-color;
}

body {
    background: $primary;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.App {
    margin: 0 2rem;
}
