@import './utilities/common.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $open-sans;
}

body {
    background: $primary;
}

.App {
    margin: .5rem 1rem .5rem 1rem;
}
